{% extends "filtering/base_fil.html" %}

{% block title %}
    Filtering
{% endblock title %}

{% block actfiltering %}
    active
{% endblock actfiltering %}

{% block left_bar %}
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link {% block a_gray %}{% endblock a_gray %}" href="{% url 'Grayscale_filter_url' %}">Grayscale</a>
        <a class="nav-link {% block a_sepia %}{% endblock a_sepia %}" href="{% url 'Sepia_filter_url' %}">Sepia</a>
        <a class="nav-link {% block a_neg %}{% endblock a_neg %}" href="{% url 'Negative_filter_url' %}">Negative</a>
        <a class="nav-link {% block a_noise %}{% endblock a_noise %}" href="{% url 'Noises_filter_url' %}">Noises</a>
        <a class="nav-link {% block a_bright %}{% endblock a_bright %}" href="{% url 'Brightnes_filter_url' %}">Brightness</a>
        <a class="nav-link {% block a_bnw %}{% endblock a_bnw %}" href="{% url 'BnW_filter_url' %}">Black'n'White</a>
      </div>
    </div>
    <div class="col-9">
      {% block handling_content %}
        some content
      {% endblock handling_content %}
    </div>
  </div>
{% endblock left_bar %}