{% extends "filtering/base_fil.html" %}
{% load static %}

{% block title %}
  Filtering
{% endblock title %}

{% block simple-sidebar-css %}<link rel="stylesheet" href="{% static 'simple-sidebar.css' %}">{% endblock simple-sidebar-css %}

{% block actfiltering %}
  active
{% endblock actfiltering %}

{% block filters_btn %}
  <a href="#menu-toggle" class="btn btn-outline-dark mr-2" id="menu-toggle">Filters</a>
{% endblock filters_btn %}

{% block home %}{% endblock home %}

{% block left_bar %}
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          Choose filter
        </li>
        <li>
            <a class="{% block a_gray %}{% endblock a_gray %}" href="{% url 'Grayscale_filter_url' %}">Grayscale</a>
        </li>
        <li>
            <a class="{% block a_sepia %}{% endblock a_sepia %}" href="{% url 'Sepia_filter_url' %}">Sepia</a>
        </li>
        <li>
            <a class="{% block a_neg %}{% endblock a_neg %}" href="{% url 'Negative_filter_url' %}">Negative</a>
        </li>
        <li>
            <a class="{% block a_noise %}{% endblock a_noise %}" href="{% url 'Noises_filter_url' %}">Noises</a>
        </li>
        <li>
            <a class="{% block a_bright %}{% endblock a_bright %}" href="{% url 'Brightnes_filter_url' %}">Brightnes</a>
        </li>
        <li>
            <a class="{% block a_bnw %}{% endblock a_bnw %}" href="{% url 'BnW_filter_url' %}">Black'n'White</a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h1>{% block filter-header %}Filtering Main{% endblock %}</h1>

        {% block filter-main %}
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae vel corporis, odio, cumque minima facilis sapiente fuga quia amet placeat eveniet totam molestias quidem velit repudiandae expedita aliquam eos est?
        Optio maxime aperiam eaque magni aspernatur, blanditiis labore eius aliquam, dicta numquam ipsam commodi aliquid pariatur quos, natus dolore? Iste temporibus dolor dolore id ad nesciunt nostrum eligendi consequuntur quis?
        Consequatur quasi expedita placeat a, magni quas nulla minima accusamus repellendus facere cumque natus doloribus tempore corrupti maiores corporis fugiat dolores voluptates asperiores eos ut est aspernatur dolore quis! Eum!
        Voluptatum enim culpa corrupti sapiente repellendus possimus, necessitatibus, doloribus beatae rem illo nesciunt atque error quis fugit modi animi, consequuntur laborum distinctio blanditiis iusto! Tempore quas eum eius possimus aperiam.</p>
        {% endblock filter-main%}
      </div>
    </div>
  </div>

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  </script>
{% endblock left_bar %}