{% extends "filtering/base_fil.html" %}
{% load static %}

{% block additional-css %}
<link rel="stylesheet" href="{% static 'filtering/css/home-page.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
{% endblock additional-css %}

{% block title %}Home{% endblock title %}
{% block font-awesome %}{% endblock %}

{% block acthome %}active{% endblock acthome %}

{% block home %}
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto to-rot" width="250px" src="{% static 'filtering/images/shutter.svg' %}" alt="">
    <h1 class="text-uppercase mb-0">Photo Filtering</h1>
    <hr class="star-light">
    {% comment %} <img src="{% static 'shutter.svg' %}" width="100px" alt="shutter"> {% endcomment %}
    {% comment %} <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2> {% endcomment %}
    <a class="btn btn-primary btn-lg col-md-6" href="{% url 'filtering_url' %}">Try in now!</a>
  </div>
</header>

<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; PhotoFiltering 2018</small>
  </div>
</div>
{% endblock home %}

{% block left_bar %}{% endblock left_bar %}