{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}Title{% endblock title %}  
  </title>  
  {% comment %} CSS UPLOAD {% endcomment %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block home-css %}{% endblock home-css %}
  {% block simple-sidebar-css %}{% endblock simple-sidebar-css %}
  {% block font-awesome %}{% endblock %}
  {% block file-choose %}{% endblock %}
  
  {% comment %} JS UPLOAD {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>

  <!-- NAVIGATION BAR-->
  <nav class="navbar navbar-expand-lg navbar-light">

    {% block filters_btn %}{% endblock filters_btn %}   

    <a class="navbar-brand active" href="{% url 'home_page_url' %}">
      <img src="{% static 'camera.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      ImageFilter
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNav">
      <span class="navbar-toggler-icon"></span>
    </button>    

    <div class="collapse navbar-collapse justify-content-end" id="collapseNav">      
      <ul class="navbar-nav">
        <li class="nav-item {% block acthome %}{% endblock acthome %}">
          <a class="nav-link" href="{% url 'home_page_url' %}" style="font-size: 20px;">Home</a>
        </li>
        <li class="nav-item {% block actfiltering %}{% endblock actfiltering %}">
          <a class="nav-link" href="{% url 'filtering_url' %}" style="font-size: 20px;">Filtering</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block home %}
    home
  {% endblock home %}

  <!-- LEFT SIDE BAR -->  
  {% block left_bar %}
    Some content
  {% endblock left_bar %}
    
    
</body>
</html>