{% extends "filtering/filtering.html" %}

{% block a_bright %}active{% endblock a_bright %}

{% block actfiltering %}{% endblock actfiltering %}

{% block filter-header %}Filter of Brightness{% endblock %}

{% block filter-main %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni aut non ducimus, nisi eaque dicta mollitia voluptatum. Optio eligendi temporibus, similique quisquam quibusdam quaerat corrupti recusandae eum laudantium, voluptatem iure?
Iusto dolorem laudantium tenetur ipsa? Blanditiis quam molestias at repellendus atque deleniti illum qui ex eveniet modi velit, deserunt minus cupiditate necessitatibus optio doloribus culpa! Vitae cum et doloremque aspernatur!
Iusto doloribus, consequuntur perspiciatis modi sit mollitia error laudantium delectus minus quae vero dignissimos harum? Porro saepe quisquam esse unde dolor possimus architecto libero, deserunt beatae maxime dolorum distinctio voluptate.</p>
{% endblock filter-main %}