{% extends "filtering/filtering.html" %}
{% load static %}

{% block additional-css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'filtering/css/image-background.css' %}"/>
{% endblock additional-css %}

{% block actfiltering %}{% endblock actfiltering %}

{% block filters_btn %}{% endblock filters_btn %}

{% block filter-main %}
  <div class="cont row justify-content-center">
    <div id="place-img">
      <span id="output">
        <span id="image">
          <img class="thumb" id="new-img" title="img" src="{% block image-url %}{% endblock %}" />
        </span>
      </span>            
    </div>
  </div>
{% endblock filter-main %}