{% extends "filtering/filtering.html" %}

{% block a_gray %}active{% endblock a_gray %}

{% block actfiltering %}{% endblock actfiltering %}

{% block filter-header %}Grayscale Filter{% endblock %}

{% block filter-main %}
  <div class="row justify-content-center">
    <div id="place-img">
      <span id="output">
        <span id="image">
          <img class="thumb" id="new-img" title="img" src="{{ imgsave.image.url }}" />
        </span>
      </span>            
    </div>
  </div>
{% endblock filter-main %}