{% extends "filtering/filtering.html" %}
{% load static %}

{% block image-view-css %}<link rel="stylesheet" href="{% static 'filtering/css/image-background.css' %}"/>{% endblock %}

{% block a_sepia %}active{% endblock a_sepia %}

{% block actfiltering %}{% endblock actfiltering %}

{% block filter-header %}Sepia Filter{% endblock %}

{% block filters_btn %}{% endblock filters_btn %}

{% block filter-main %}
  <div class="cont row justify-content-center">
    <div id="place-img">
      <span id="output">
        <span id="image">
          <img class="thumb" id="new-img" title="img" src="{{ url_image }}" />
        </span>
      </span>            
    </div>
  </div>
{% endblock filter-main %}